@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine
@using BestRestaurants.Models

<h2>Search Results:</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)<h3>


<h3>Restaurants:</h3>
<ul>
  @foreach (Restaurant restaurant in Model.Restaurants)
  {
    <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId })</li>
  }
</ul>
<p>@Html.ActionLink("Add new cuisine", "Create")</p>
<p>@Html.ActionLink("Add new Restaurant", "Create", "Restaurants")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>