@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h4>Search Cuisines</h4>
@using (Html.BeginForm("Results", "Cuisines", FormMethod.Post))
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  <input type="submit" value="Search cuisines" class="btn btn-primary"/>
}
<p>@Html.ActionLink("Add new cuisine", "Create")</p>
<p>@Html.ActionLink("Add new Restaurant", "Create", "Restaurants")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>